asgiref
attrs
certifi
charset-normalizer
Django
django-filter
djangorestframework
djangorestframework-simplejwt
flake8
flake8-broken-line
flake8-isort
flake8-plugin-utils
flake8-return
idna
iniconfig
isort
mccabe
packaging
pep8-naming
pluggy
py
pycodestyle
pyflakes
PyJWT
pytest
pytest-django
pytest-pythonpath
pytz
requests
sqlparse
toml
tomli
urllib3
